/* General CSS (for all pages) */

/* Start of html tag's css */
html,
body,
main {
  width: 100%;
  margin: 0;
}
html{
  background-image: linear-gradient(#003502, #000000);
}
section{
  max-width: 100%;
}
header {
  z-index: 2;
  width: 100%;
  background-image: linear-gradient(#000000, #003502);
  box-shadow: -1px 7px 26px #000000;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
}
main {
  position: relative;
}
article {
  display: flex;
  flex-wrap: wrap;
}
h1,
h2{
  color: #ffffff;
  font-size: 65px;
  /* first font */
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
}
h2 {
  /* !important used to replace other css */
  font-size: 45px !important;
}
h3 {
  color: #ffffff;
  font-size: 35px;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
}
p {
  color: #ffffff;
  font-size: 25px;
  /* second font */
  font-family: karmina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.w-100{
    width: 100%;
}
/* End of html tag's css */

/* Useful simple classes wich most elements share (margin, padding, display flex, and etc) used so that they don't need to be repeated for each class*/
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.col-30 {
  max-width: 1100px;
  width: 100%;
}
.align-self-center {
  align-self: center;
}
.align-items-center {
  align-items: center;
}
.mr-1 {
  margin-right: 20px;
}
.mr-2 {
  margin-right: 25px;
}
.ml-1 {
  margin-left: 20px;
}
.ml-2 {
  margin-left: 25px;
}
.m-1 {
  margin: 20px;
}
.p-1 {
  padding-top: 30px;
}
/* End of simple classes */

/* Start of scrollbar classes */
::-webkit-scrollbar {
  width: 20px;
  background-color: #000000;
  border-radius: 10px;
  border: 2px solid white;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(30, 255, 0); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #036000; 
}
/* End of scrollbar classes */

/* Start of Nav clsses */
.navbar{
    height: 100%;
    align-items: center;
    position: relative;

}
.all-navbar-elements {
    list-style: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0px;
    padding-bottom: 20px;
  }
.logo-nav {
  width: 50px;
  height: auto;
  margin-left: 20px;
}
.nav-button {
    z-index:100;
    cursor: pointer;
    max-height: 100px;
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
}
.nav-button:hover {
  scale: 1.1;
}
.nav-icons{
    z-index: 100;
    cursor: pointer;
}
.nav-icon-1 , .nav-icon-2 , .nav-icon-3{
    width: 60px;
    border-radius: 20px;
    height: 10px;
    background-color: white;
    margin: 6px auto;
    transition: all 1s;
    pointer-events: none;
    display: block;
}

/* Changing the menu icon using changex class and JS */
.changex{
  animation: run 1s linear 0s 1 normal forwards;
}
.changex .nav-icon-1 {
    transform: translate(0, 16px) rotate(-45deg);
}
.changex .nav-icon-2 {
    opacity: 0;
}
.changex .nav-icon-3 {
    transform: translate(0, -16px) rotate(45deg);
}
@keyframes run {
  0% {
    right: calc(50%);
    top: 100px;
    position: absolute; 
  }
  100% {
    right: 10px;
    top: 20px;
    position: absolute; 
  }
}
/* End of Nav clsses */

/* Overlay menu classes */
.overlay {
  overflow: hidden;
  width: 100%;
  opacity: 0;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: black;
  overflow-x: hidden;
  transition:all 0.5s;
}
.overlay-section {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 34%;
  text-align: center;
  position: relative;
  height: 100%;
}
.overlay-section img{
  filter: brightness(50%);
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
.overlay-section h1{
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  z-index: 1;
  justify-self: center;
  position: absolute;
  color: #ffffff !important;
}
.overlay-section img:hover{
  filter: brightness(100%);
}
/* End of overlay menu classes */

/* Footer classes */
.all-footer-elements {
  background-image: linear-gradient(#003502,#000000 );
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.all-footer-elements div {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100px;
  align-items: center;
  display: flex;
}
.all-footer-elements div h3{
  margin: 10px;
}
.logo-footer {
  width: 100px;
  height: auto;
}
/* End of footer classes*/

/* START OF MAIN PAGE CLASSES*/

/* Start of Splide classes */
.splide{
  overflow: hidden;
  position: relative;
  top: -80px;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 60px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,29,1,1) 50%, rgba(0,0,0,1) 100%);
  filter: drop-shadow(-1px -7px 26px #13d201);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.splide__arrows {
  top: 150px;
  position: relative;
}
.splide__slide img{
  border-radius: 30px;
  display: flex;
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  transition: all 0.5s;
}
.splide__slide:not(.is-active) img{
  filter: blur(5px);
}
.splide__slide.is-active img{
  cursor: pointer;
}
.splide__slide.is-active img:hover{
  scale: 0.95;
}
.splide__pagination__page{
  opacity: 1 !important;
    border: 0 !important;
    border-radius: 2.5px !important;
    display: inline-block !important;
    height: 7px !important;
    margin: 8px !important;
    padding: 0px !important;
    position: relative !important;
    transition: background-color .2s linear !important;
    background-color:#ffffff !important;
    width: 30px !important;
}
.splide__arrow{
  opacity: 0.5 !important;
  width: 7em !important;
  background: transparent !important;
}
.splide__arrow:hover{
  opacity: 1 !important;
  scale: 1.1;
}
.splide__arrow svg{
  fill: #23b329 !important;
  height: 7.2em !important;
  width: 32.2em !important;
}
.splide__pagination__page.is-active{
  background-color:#00C24D !important;
}
/* End of Splide classes */

/* Start of section 2 classes (news) */
#section-2-main{
  margin: 0 auto;
  justify-content: center;
}
.news-section{
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}
.news-section p{
  font-size: 35px;
  max-width: 850px;
}
.news-section img{
  object-fit: cover;
  width: 800px;
  height: 500px;
  border-radius: 40px;
}
/* End of section 2 classes (news) */

/* Start of section 3 classes (Top10) */
#section-3-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#section-3-main h1{
  text-align: center;
  width: 100%;
  margin-top: 0;
}
.top10Item{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: center;
}
.top10Item img{
  border-radius: 40px;
  width: 200px;
  height: 200px;
  box-shadow: -1px 7px 26px #004613;
  transition: all 0.2s;
}
.top10Item img:hover{
  border-radius: 50%;
  box-shadow: -1px 7px 26px #00ff44;
  cursor: pointer;
}
.top10Item h3{
  font-size: 25px !important;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
.top10Item p{
  font-size: 20px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
/* End of section 3 classes (Top10) */
/* END OF MAIN PAGE CLASSES*/

/* START OF COLLECTION PAGE CLASSES*/
/* Start of section 1 classes (form) */
#section-1-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#track-form{
  width: 100%;
}
.form-row{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.form-lable{
  margin-bottom: 8px;
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 35px;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.form-input{
  border: 2px solid rgb(0, 230, 0);
  font-size: 25px;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
  border-radius: 30px;
  padding: 0px 15px 0px 15px;
  color: rgb(255, 255, 255);
  height: 50px;
  background-color: rgb(0, 0, 0);
  width: 70%;
}
#genre{
  margin-bottom: 30px;
}
#genre option{
  background-color:#003e02;
  border: #aaffa0;
}
input[type=submit]{
  font-family: karmina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #00ff08;
  border-radius: 100px;
  width: 120px;
  height: 70px;
  transition: all;
  position: relative;
  border: none;
}
input[type=submit]:hover{
  scale: 1.1;
  box-shadow: -1px 7px 26px #00ff44;
  cursor: pointer;
}
/* End of section 1 classes (form) */

/* Start of section 2 classes (Search Items) */
#section-2-collection{
  text-align: center;
  width: 40%;
}
#search-items{
  padding: 0;
  width: 100%;
  height: 800px;
  overflow-y: scroll;
}
.search-item-li{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  list-style: none;
}
.search-item-li h3{
  font-size: 22px !important;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.search-item-li p{
  font-size: 20px;
  width: 400px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.search-item-img{
  border-radius: 40px;
  width: 200px;
  height: 200px;
  box-shadow: -1px 7px 26px #004613;
  transition: all 0.2s;
}
.add-track-button{
  background-color: #00ff08;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  transition: all;
  position: relative;
  border: none;
}
.add-track-button:hover{
  scale: 1.1;
  box-shadow: -1px 7px 26px #00ff44;
  cursor: pointer;
}
.add-button-icon1{
  width: 50px;
  transform: rotate(90deg);
  border-radius: 20px;
  height: 10px;
  background-color: white;
  margin: 6px auto;
  pointer-events: none;
  display: block;
  position: absolute;
  left: 12px;
}
.add-button-icon2{
  width: 50px;
  border-radius: 20px;
  height: 10px;
  background-color: white;
  margin: 6px auto;
  pointer-events: none;
  display: block;
}
/* End of section 2 classes (Search Items) */

/* Start of section 3 classes (Collection) */
#section-3-collection{
  width: 59%;
  text-align: center; 
}
#track-collection{
  padding: 0;
  width: 100%;
  height: 800px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}
.collection-item{
  position: relative;
  text-align: center;
  height: 387px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 30px 0px 30px 0px;
}
.collection-item div{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0px 15px 0px;
}
.collection-item h3{
  font-size: 22px !important;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.collection-item p{
  font-size: 20px;
}
.collection-item-img{
  border-radius: 40px;
  width: 200px;
  height: 200px;
  box-shadow: -1px 7px 26px #004613;
  transition: all 0.2s;
}
.delete-track-button{
  background-color: #c90000;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  transition: all;
  position: relative;
  border: none;
}
.delete-track-button:hover{
  scale: 1.1;
  box-shadow: -1px 7px 26px #8f0000;
  cursor: pointer;
}
.del-button-icon{
  width: 50px;
  border-radius: 20px;
  height: 10px;
  background-color: white;
  margin: 6px auto;
  pointer-events: none;
  display: block;
}
.aditional-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 0;
  width: 200px;
  position: absolute;
  border-radius: 40px;
  height: 200px;
}
.aditional-info:hover{
  opacity: 1;
  background-color: rgba(0,0,0,0.7);
}
/* End of section 3 classes (Collection) */
/* END OF COLLECTION PAGE CLASSES*/

/* START OF CONNECTION PAGE CLASSES*/
/* Start of section 1 classes (whole page)*/
.connections-section-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.connections-section-1 img{
  width: 300px;
  height: 300px;
}
.connections-link{
  text-decoration: none;
  margin: 30px;
  color: #ffffff;
  font-size: 35px;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
  transition: all 0.5s;
}
.connections-link:hover{
  scale: 0.9;
  transition: all 0.5s;
}
.connections-link:visited{
  color: #00C24D;
}
.connections-link:active{
  transition: all 0.2s;
  scale: 0.5;
}
.changeMain{
  min-height: calc(100% - 261px)!important;
  display: flex;
  justify-content: center;
}
.changeHtml, .changeBody{
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;
}
/* End of section 1 classes (whole page)*/
/* END OF CONNECTION PAGE CLASSES*/

/* START OF TRACK PAGE CLASSES*/
/* Start of section 1 classes (ApexChart)*/
#track-section-1{
  width: 100%;
  display: flex;
  justify-content: center;
}
#chart{
  margin-top: 50px;
  width: 90%;
}
#chart text{
  font-family: sofia-pro-soft, sans-serif !important;
  font-weight: 700 !important;
  font-style: italic !important;
  font-size: 20px !important;
  fill: white !important;
}
.apexcharts-legend-text{
  font-family: sofia-pro-soft, sans-serif !important;
  font-weight: 700 !important;
  font-style: italic !important;
  font-size: 20px !important;
  color: white !important;
}
/* End of section 1 classes (ApexChart)*/

/* Start of section 2 classes (Chart Data)*/
#track-section-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#track-section-2 div{
  text-align: center;
  margin: 0px 100px 0px 100px;
}
.total-values-h2{
  color: #00C24D;
}
/* End of section 2 classes (Chart Data)*/

/* Start of section 3 classes (Top Items)*/
#track-section-3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#track-section-3 div{
  max-width: 50%;
  text-align: center;
  margin: 40px;
}
.top-albums-h2 ,.top-artists-h2{
  color: #00C24D;
}
/* End of section 3 classes (Top Items)*/

/* Start of mobile view classes (width less than 1000px)*/
/* NOTE: You might need to reload the page for some elements to change*/
@media screen and (max-width: 1000px) {
  /* All Pages */
  .overlay{
    flex-wrap: wrap;
  }
  .overlay-section{
    width: 100% !important;
    height: 34% !important;
  }
  .overlay-section img{
    width: 100%;
  }
  /* Main Page */
  .splide__slide img{
    max-width: 300px !important;
    max-height: 300px !important;
  }
  #news-section-1{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  #news-section-2{
    display: flex;
    flex-wrap: wrap;
  }
  #news-section-1 p,#news-section-2 p{
    margin: 50px 0px 50px 0px !important;
    text-align: center;
  }
  .news-section img{
    width: 80% !important;
    height: 700px !important;
  }
  #section-3-main{
    justify-content: space-around !important;
  }
  .top10Item{
    width: 50% !important;
  }
  .top10Item h3{
    width: 100% !important;
    max-width: 300px;
  }

  /* Collection Page */
  #section-2-collection{
    width: 100% !important;
  }
  #section-3-collection{
    width: 100% !important;
  }
  #search-items{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto !important;
    overflow-x: scroll;
    height: 350px !important;
    align-content: space-between;
    flex-direction: column;
  }

  /* Track Page */
  #track-collection{
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
    overflow-x: scroll;
    height: 500px !important;
  }
  #track-section-3 div{
    width: 100%;
    text-align: center;
    margin: 40px;
  }
}