/* General CSS (for all pages) */

/* Start of html tag's css */
html,
body,
main {
  width: 100%;
  margin: 0;
}
html{
  background-image: linear-gradient(#003502, #000000);
}

section{
  max-width: 100%;
}
header {
  z-index: 2;
  width: 100%;
  background-image: linear-gradient(#000000, #003502);
  box-shadow: -1px 7px 26px #000000;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
}

main {
  position: relative;
}

article {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2{
  color: #ffffff;
  font-size: 65px;
  /* first font */
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
}

h2 {
  /* !important used to replace other css */
  font-size: 45px !important;
}

h3 {
  /* !important used to replace other css */
  color: #ffffff;
  font-size: 35px;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
}

p {
  color: #ffffff;
  font-size: 25px;
  /* second font */
  font-family: karmina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.w-100{
    width: 100%;
}

/* End of html tag's css */


/* Useful simple classes wich most elements share (margin, padding, display flex, and etc) used so that they don't need to be repeated for each class*/
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
  }

.col-30 {
  max-width: 1100px;
  width: 100%;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.mr-1 {
  margin-right: 20px;
}

.mr-2 {
  margin-right: 25px;
}

.ml-1 {
  margin-left: 20px;
}

.ml-2 {
  margin-left: 25px;
}

.m-1 {
  margin: 20px;
}

.p-1 {
  padding-top: 30px;
}

/* End of simple classes */

.navbar{
    height: 100%;
    align-items: center;
    position: relative;

}

.all-navbar-elements {
    list-style: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0px;
    padding-bottom: 20px;
  }

.logo-nav {
  width: 50px;
  height: auto;
  margin-left: 20px;
}

.nav-button {
    z-index:100;
    cursor: pointer;
    max-height: 100px;
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
}

.nav-button:hover {
  scale: 1.1;
}

.nav-icons{
    z-index: 100;
    cursor: pointer;
}

.nav-icon-1 , .nav-icon-2 , .nav-icon-3{
    width: 60px;
    border-radius: 20px;
    height: 10px;
    background-color: white;
    margin: 6px auto;
    transition: all 1s;
    pointer-events: none;
    display: block;
}

.changex{
  animation: run 1s linear 0s 1 normal forwards;
}
.changex .nav-icon-1 {
    transform: translate(0, 16px) rotate(-45deg);
}
.changex .nav-icon-2 {
    opacity: 0;
}
.changex .nav-icon-3 {
    transform: translate(0, -16px) rotate(45deg);
}

@keyframes run {
  
  0% {
    right: calc(50%);
    top: 100px;
    position: absolute; 
  }
  100% {
    right: 10px;
    top: 20px;
    position: absolute; 
  }
}

.overlay {
  overflow: hidden;
  width: 100%;
  opacity: 0;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: black;
  overflow-x: hidden;
  transition:all 0.5s;
}

.overlay-section {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 34%;
  text-align: center;
  position: relative;
  height: 100%;
}

.overlay-section img{
  filter: brightness(50%);
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.overlay-section h1{
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  z-index: 1;
  justify-self: center;
  position: absolute;
  color: #ffffff !important;
}

.overlay-section img:hover{
  filter: brightness(100%);
}



.all-footer-elements {
  background-image: linear-gradient(#003502,#000000 );
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.all-footer-elements div {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100px;
  align-items: center;
  display: flex;
}

.all-footer-elements div h3{
  
  margin: 10px;
}

.logo-footer {
  width: 100px;
  height: auto;
}





.splide{
  overflow: hidden;
  position: relative;
  top: -80px;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 60px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,29,1,1) 50%, rgba(0,0,0,1) 100%);
  filter: drop-shadow(-1px -7px 26px #13d201);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.splide__arrows {
  top: 150px;
  position: relative;
}

.splide__slide img{
  border-radius: 30px;
  display: flex;
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  transition: all 0.5s;
}
.splide__slide:not(.is-active) img{
  filter: blur(5px);

}
.splide__slide.is-active img{
  cursor: pointer;
}
.splide__slide.is-active img:hover{
  scale: 0.95;
}

.splide__pagination__page{
  opacity: 1 !important;
    border: 0 !important;
    border-radius: 2.5px !important;
    display: inline-block !important;
    height: 7px !important;
    margin: 8px !important;
    padding: 0px !important;
    position: relative !important;
    transition: background-color .2s linear !important;
    background-color:#ffffff !important;
    width: 30px !important;
}
.splide__arrow{
  opacity: 0.5 !important;
  width: 7em !important;
  background: transparent !important;
}

.splide__arrow:hover{
  opacity: 1 !important;
  scale: 1.1;
}
.splide__arrow svg{
  fill: #23b329 !important;
  height: 7.2em !important;
  width: 32.2em !important;
}
.splide__pagination__page.is-active{
  background-color:#00C24D !important;
}


#section-2-main{
  margin: 0 auto;
  justify-content: center;
}

.news-section{
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}


.news-section p{
  font-size: 35px;
  max-width: 850px;
  margin-right: 65px;
}


.news-section img{
  object-fit: cover;
  width: 800px;
  height: 500px;
  border-radius: 40px;
}

#section-3-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#section-3-main h1{
  text-align: center;
  width: 100%;
  margin-top: 0;
}
.top10Item{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: center;
}
.top10Item img{
  border-radius: 40px;
  width: 200px;
  height: 200px;
  box-shadow: -1px 7px 26px #004613;
  transition: all 0.2s;
  
}
.top10Item img:hover{
  border-radius: 50%;
  box-shadow: -1px 7px 26px #00ff44;
}
.top10Item h3{
  font-size: 25px !important;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
.top10Item p{
  font-size: 20px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}